<center><h1>This is a page for Andrew to test things for class. Here are some things we're testing</h1></center>
<br>

<p>Today is: <%= Date.today %>. Check your clock in the corner to make sure I'm right!</p>

<p>Tomorrow is <%= Date.today + 1 %>. See you then!</p>
